<% include partials/header %>

<div class="container">
	<h1> This action require admin account. </h1>
    <form method="GET" action="/">
        <button type="submit" class="btn btn-secondary">Back to Home Page</button>
    </form>
</div>

<% include partials/footer %>
