.flex {
    display: flex;
    align-items:  center;
}

.username-display a{
    color: #fff !important;
    margin-right: 10px;
} 
.site-header.scrolled .username-display a {
    color: #000 !important; 
}
